@charset "UTF-8";
/* CSS Document */
/*****************************************************
GENERAL STYLES
/*****************************************************
MARGIN PADDING RESET
******************************************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
/*****************************************************
HIGHLIGHTS
******************************************************/
::selection {
    background: yellow; /* WebKit/Blink Browsers */
}

mark {
    background: yellow;
    color: white;
}
/*****************************************************
GENERAL
******************************************************/
html {
        
}


body {
    height: 100vh;
    /* background-color: gray; */
    background-position: center, center;
    background-attachment: fixed;
}

section {
    width: 85vw;
    margin: 0 auto;
}

li{
    font-size: 1.2vw;

    font-family: "Maitree", serif;
    font-weight: 300;
    font-style: normal;
}

p{
    font-size: 1.2vw;

    font-family: "Maitree", serif;
    font-weight: 300;
    font-style: normal;
}

h1{
    font-size: 3vw;
    
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;
}

h4{
    font-size: 1.8vw;

    font-family: "Maitree", serif;
    font-weight: 1000;
    font-style: normal;
}

a{
    font-family: "Kumar One", serif;
    font-weight: 400;
    font-style: normal;

    font-size: 1.6vw;
}

/*****************************************************
GENERAL TYPOGRAPHY
******************************************************/
/* .text_section {
    background-color: orange;
    padding: 100px 0 100px 0;
}
.textbox {
    margin: 0 auto;
}
.thickdivider {
    width: 50px;
    height: 5px;
    background-color: black;
    margin-top: 0;
    margin-bottom: 20px;
}
.thindivider {
    width: 50px;
    height: 2px;
    background-color: black;
    margin-top: 60px;
    margin-bottom: 40px;
} */
/****************************************************
LINE SPACING (LEADING) 
*****************************************************/
/* .more_linespace {
    line-height: 1.5;
}
.double_linespace {
    line-height: 2;
}
.triple_linespace {
    line-height: 3;
} */
/*****************************************************
FIXED LOGO BUTTON (TOP LEFT)
******************************************************/
/* #fixed_button {
    width: 50px;
    height: 50px;
    background-color: lime;
    border-radius: 50px;
    position: fixed;
    left: 25px;
    top: 12px;
    background-image: url(../_assets/_images/cross.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    z-index: 9999;

    transition: all .5s ease;
} */

/* #fixed_button:hover {
    background-color: blue;
    background-image: url(../_assets/_images/cross_rover.svg);
} */

/*****************************************************
HEADER & NAV
******************************************************/

header {
    width: 100%;
    padding: 3vw 5vw;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-content: flex-start;
    background-color: white;
    justify-content: space-between;
}

.header_column_image{
    max-width: 25vw;
}


.header_column {
    max-width: 400px;
    width: 35%;
    min-width: 180px;
    /* background-color: aqua; */
}

nav {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbutton {
    width: 50%;
    text-align: center;
}

.navbutton a {
    color: black;
    text-decoration: none;
    letter-spacing: .05em;
    /* font-size: 20px; */
}

.navbutton a:hover {
    color: yellow;
}

/*****************************************************
FEATURE SECTION
******************************************************/

.hero{
    position: relative;
    width: 100%;
    height: auto;
    background-color: white;
    /* border: 2px solid blue; */
}

/* .title_image {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
} */


.text_image {
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/*****************************************************
LARGE TEXTBOX SECTION
******************************************************/

.large_textbox {
    height: 25vw;
    background-color: white;
}
.large_text {
    /* font-size: 3vw; */
    position: relative;
    Text-Align: center;
}
.largetext_wrap {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
/*****************************************************
Game feature
******************************************************/

.game_feature{
    align-items: center;
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 28vw;
    
}

.feature1_image{
    background-color: pink;
    height: 70%;
    width: auto;

    margin: 0px 40px 0px 0px;
}

.feature1_text{
    height: 70%;
    width: auto;

    /* background-color: aquamarine;
    border: 2px solid blue; */

}

.game_feature2{
    align-items: center;
    background-color: white;
    justify-content: space-around;
    display: flex;
    height: 28vw;
}

.feature1_image2{
    background-color: pink;
    height: 70%;
    width: auto;

    margin: 0px  0px 0px 30px;
}

.feature1_text2{
    height: 70%;
    width: auto;
    /* background-color: aquamarine; */
    /* border: 2px solid blue; */
}





button{
    font-size: large;
    background-color: black;
    color: white;
    border: none;
    padding: 2.5vw;
    border-radius: 10px;    
}

.link_button{
    margin: 10vw 0px 15vw ;
    text-align: center;
}








.footer_column_image{
    max-width: 25vw;
}

.footer_section {
    width: 100%;
    padding: 3vw 5vw;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    align-content: flex-start;
    background-color: black;
    justify-content: space-between;
}

.footer_column {
    max-width: 400px;
    width: 35%;
    min-width: 180px;
}

.fnavbutton {
    width: 50%;
    text-align: center;
}

.fnavbutton a {
    color: white;
    text-decoration: none;
    letter-spacing: .05em;
    /* font-size: 18px; */
}

.fnavbutton a:hover {
    color: yellow;
}


/* ======================================== */

/* 
nav {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    height: 100%;
}





/* .icons_section {
    height: 80vh;
    background-color: pink;
    font-family: 'Roboto', sans-serif;
    color: white;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}
.icons_container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
    
    display: flex;
    justify-content: space-between;
}
.icon_box p {
    width: 200px;
    margin-top: 30px;
    text-align: center;
}
.icon {
    width: 200px;
    height: 200px;
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}
.one {
    background-image: url(../_assets/_images/cross_rover.svg);
}
.two {
    background-image: url(../_assets/_images/cross_rover.svg);
}
.three {
    background-image: url(../_assets/_images/cross_rover.svg);
} */
/*****************************************************
VIDEO
******************************************************/
/* .video_section {
    height: 95vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
video {
    width: 720px;
    border: black 20px solid;
} */
/*****************************************************
SPLIT IN TWO SECTION
******************************************************/
/* .splitintwo {
    height: 100vh;
    display: flex;
    align-content: flex-start;
    background-color: lime;
}
.splitintwo ::selection {
    background: black;
    color: white;
}
.halfcolumn_left,
.halfcolumn_right {
    width: 50%;
    position: relative;
    padding: 25px;
}
.halfcolumn_left {
    background-image: url(../_assets/_images/shanghainightstreet.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}
.halfcolumn_text {
    width: 90%;
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 1.8;
}
.halfcolumn_text mark {
    background-color: black;
} */
/*****************************************************
GALLERY
******************************************************/
/* .gallery_grid {
    display: flex;
    background-color: black;
    border-top: 20px solid black;
    border-bottom: 20px solid black;
}
.grid_largebox {
    display: flex;
    background-color: white;
    width: 33vw;
    height: 33vw;
}
.grid_column {
    width: 50%;
    height: 100%;
}
.grid_smallbox {
    width: 100%;
    height: 50%;
    background-color: white;
    background-size: 85%;
    background-repeat: no-repeat;
    background-position: center;
}
.image_one {
    background-image: url(../_assets/_images/vsco01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_two {
    background-image: url(../_assets/_images/vsco02.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_three {
    background-image: url(../_assets/_images/vsco03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_four {
    background-image: url(../_assets/_images/vsco04.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_five {
    background-image: url(../_assets/_images/vsco05.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_six {
    background-image: url(../_assets/_images/vsco06.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_seven {
    background-image: url(../_assets/_images/uppercase_01.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_eight {
    background-image: url(../_assets/_images/a_letter.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_nine {
    background-image: url(../_assets/_images/handgloves.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_ten {
    background-image: url(../_assets/_images/letter_group_02.svg), url(../_images/blackbar.svg);
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: center, top;
}
.image_eleven {
    background-image: url(../_assets/_images/asterisk.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image_twelve {
    background-image: url(../_assets/_images/numerals.svg), url(../_assets/_images/blackbar.svg);
    background-size: cover, auto;
    background-repeat: no-repeat;
    background-position: center, top;
} */
/*****************************************************
HEADING + PARAGRAPH SECTION
******************************************************/
/* .fulltextbox {
    width: 100%;
}
.bigtextbox {
    width: 75%;
}
.smalltextbox {
    width: 80%;
    max-width: 1200px;
}
.text_section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.text_section h2 {
    font-size: 2em;
    margin-top: 40px;
    margin-bottom: 20px;
}
.text_section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
.text_section h4 {
    width: 40%;
    margin-top: 40px;
    margin-bottom: 20px;
} */
/*****************************************************
TEXT&IMAGE SECTION
******************************************************/
/* .textimage_section {
    font-family: 'Roboto', sans-serif;
    padding: 200px 0 200px 0;
    background-color: black;
}
.textimage_section .textbox {
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    background-image: url(../_assets/_images/circular.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 340px;
    padding: 100px 20px;
}
.textimage_section h2 {
    text-transform: uppercase;
    color: red;
    font-size: .8em;
    font-style: normal;
    letter-spacing: .3em;
    width: 60%;
    margin-bottom: 10px;
}
.textimage_section p {
    color: white;
    margin-bottom: .8em;
    letter-spacing: .02em;
    width: 55%;
} */
/*****************************************************
CTA SECTION
******************************************************/
/* .cta_section {
    font-family: 'Roboto', sans-serif;
    padding: 100px 0;
    background-color: white;
}
.cta_section .textbox {
    width: 80%;
    padding: 100px 20px;

    max-width: 1200px;
    min-width: 800px;
}
.cta_section p {
    font-size: 1em;
    margin-bottom: .8em;
    width: 60%;
}
.cta_section h1 {
    color: black;
    font-size: 42px;
    letter-spacing: .05em;
    margin-bottom: 20px;
    width: 60%;
}
.cta_section .cta_button {
    width: 200px;
    height: 50px;
    background-color: lime;
    border-radius: 25px;
    margin-top: 40px;
    background-image: url(../_assets/_images/cta_button.png);
    

    transition: all .4s ease;
}
.cta_section .cta_button:hover {
    background-color: black;
} */
/*****************************************************
FOOTER
******************************************************/
/* .footer_section {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    background-image: url(../_assets/_images/cross_rover.svg);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: 98% 88%;
}
.footer_section .textbox {
    width: 80%;
    max-width: 1200px;
    min-width: 800px;
    padding: 100px 0 50px 20px;
}
.footer_section .textbox .copyright {
    color: #888888;
    line-height: 1.5;
    letter-spacing: .08em;
    
    margin-top: 200px;
    letter-spacing: .2em;
    font-weight: 400;
}
.footer_section .textbox a {
    color: white;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: .09em;
    
    transition: all .4s ease;
}
.footer_section .textbox a:hover {
    color: lime;
} */